@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
@import "layout/layout";
@import "variables";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
}

body {
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container>* {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    text-align: center;
}

.banner1 {
    grid-area: banner1;
    display: flex;
    background-color: $pink;
    height: 200px;
    align-items: center;
    justify-content: center;
    &__tittle {
        font-size: 50px;
        color: $gray-100;
    }
}

.banner2 {
    grid-area: banner2;
    background-color: $pink;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    &__tittle {
        font-size: 40px;
        color: $gray-100;
    }
    &__button {
        width: 200px;
        height: 30px;
        border-radius: 15px;
        border-color: $gray-100;
        background-color: $gray-100;
    }
}