.article {
    grid-area: article;
    background-color: $gray-100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    &__foto {
        margin-top: 80px;
    }
    &__tittle {
        color: $gray-700;
        font-size: 50px;
    }
    &__text1 {
        color: $gray-700;
        width: 50%;
        text-align: left;
    }
    &__text2 {
        color: $gray-700;
        width: 50%;
        text-align: left;
        margin-bottom: 60px;
    }
}